$white: (#ffffff);

$black: (#000);

$green-salad: (#00d15d);

$orange: (#ffc539);

$green: (#0a8b05);

$gray: (#444444);



$GPBI: "Gotham Pro - Black Italic";
$GPB: "GothamPro-Black";
$sserif: Arial, Tahoma, sans-serif;
$GPMI: "GothamPro-MediumItalic";